{% load i18n %}
<a href="#" class="profile-log" data-wall-post-id="{{ entry.id }}">
    <div class="profile-log__meta">
        <span class="profile-log__stamp">[LOG_ENTRY #{{ entry.id }}] :: {{ entry.published_date }}</span>
        <span class="profile-log__tag">TAG: @{{ entry.author.username|default:_('unknown') }}</span>
    </div>
    <p class="profile-log__content" data-wall-post-content="{{ entry.content }}"></p>
    <div class="profile-log__actions">
        <span><span class="material-symbols-outlined">thumb_up</span> {{ entry.upvotes.count }}_{% trans "UPVOTES" %}</span>
        <span><span class="material-symbols-outlined">chat_bubble</span> {{ entry.responses.count }}_{% trans "RESPONSES" %}</span>
        <span class="profile-log__ack">ACK: @{{ entry.author.username|default:_('unknown') }}</span>
    </div>
</a>