main {
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

form {
    display: grid;
    place-items: center;
    gap: 1rem;
    backdrop-filter: blur(4px) brightness(0.6);
    padding: 2rem;
    border: 1px solid var(--accent-3);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent-3);
}

h1 {
    color: var(--accent-3);
    margin: 0;
}

form > div {
    display: grid;
    place-items: center;
    transition: all 300ms ease;
    gap: .5rem;
    grid-template-rows: auto auto 0fr;
}

form > div > div {
    overflow: hidden;
    height: 100%;
}

form > div:has(:focus-within) {
    grid-template-rows: auto auto 1fr;

}