main#team {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.person-card {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 6fr 1fr;
    place-items: center;
    padding: 1rem;
    border: 1px solid var(--accent-2);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--accent-2);
    aspect-ratio: 2 / 3;
    width: 300px;
    box-sizing: border-box;
}

.person-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    color: var(--accent-3);
}

.person-card * {
    margin: 0;
    text-align: center;
}

.social-links {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.social-links a {
    width: 32px;
    height: 32px;
    color: var(--accent-3);
    display: inline-block;
    background-color: var(--accent-3);
}

.social-links a.facebook {
    -webkit-mask: url("../base/icons/facebook.svg") center / contain no-repeat;
    mask: url("../base/icons/facebook.svg") center / contain no-repeat;
}

.social-links a.instagram {
    -webkit-mask: url("../base/icons/instagram.svg") center / contain no-repeat;
    mask: url("../base/icons/instagram.svg") center / contain no-repeat;
}

.social-links a.github {
    -webkit-mask: url("../base/icons/github.svg") center / contain no-repeat;
    mask: url("../base/icons/github.svg") center / contain no-repeat;
}

.social-links a.discord {
    -webkit-mask: url("../base/icons/discord.svg") center / contain no-repeat;
    mask: url("../base/icons/discord.svg") center / contain no-repeat;
}

.social-links a.telegram {
    -webkit-mask: url("../base/icons/telegram.svg") center / contain no-repeat;
    mask: url("../base/icons/telegram.svg") center / contain no-repeat;
}