{% extends "base/layout.html" %}
{% load i18n %}
{% block title %}Under Construction{% endblock %}

{% block body_class %}under-construction{% endblock %}

{% block body %}

    <style>
        .terminal-button {
            cursor: pointer;
        }
    </style>

    <h1>{% trans "Under Construction" %}</h1>
    <p>{% trans "The frogs are still working on this website. You can take a peek, but it is pretty ugly rn. -_-" %}</p>
    <button class="terminal-button">[ {% trans "TAKE A PEEK" %} ]</button>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const button = document.querySelector(".terminal-button");
            button.addEventListener("click", function () {
                sessionStorage.setItem("curious", "true");
                window.location.href = "{% url 'home' %}";
            });
        });
    </script>
{% endblock %}
